<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/lib/underscore/underscore-min.js"></script>
    <script src="javascripts/lib/backbone/backbone-min.js"></script>
    <script src="javascripts/lib/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="test-class">Welcome to <%= title %></p>
    <!-- Change src to build/synapse-sample.min.js in production -->
    <script src="javascripts/clientApp.js"></script>
  </body>
</html>
